{% extends "base.html" %}
{% block content %}
  {% if main_page_content %}
    <p class="mb-2">
      <a style="font-size: 0.9em" href="#packages">↓ Packages</a>
    </p>
    <div class="block content">{{ main_page_content | safe }}</div>
  {% endif %}

  {% if tagger_services %}

  <div class="block">
    <h3 class="title is-3">
      Services
    </h3>

    {% for service, tagged_methods in tagger_services %}
    <div>
      {% include 'service.html' %}
    </div>
    {% endfor %}
  </div>

  {% endif %}

{% endblock %}
